mixin favicon({ })
  link(rel="icon" href=`${baseUrl}/favicon.ico`)
  link(rel="icon" href=`${baseUrl}/favicon/favicon.svg?v=${searchId}` type="image/svg+xml")
  link(rel="apple-touch-icon" href=`${baseUrl}/favicon/apple-touch-icon.png?v=${searchId}`)
